body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  margin: 3% 5%;
  background-color: #f5f5f5;
}


/* Header Styles */
header {
  overflow: auto;
}

header h1 {
  color: #74c7fd;
  font-weight: 100;
  line-height: 64px;
  font-size: 48px;
  text-indent: 5px;
  margin: 0;
  border-bottom: 1px solid #dcaffd;
}

header h1 img {
    height: 64px;
    float: left;
}

header h1 b {
  font-weight: 200;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  color: #6e51fb;
  margin: 5px 0px;
}

p { font-size: 13px; max-width: 900px; line-height: 16px; color: #666; }


#idb-list {
  background-color: #dcaffd;
  padding: 15px;
  float: right;
}

#idb-list h3 {
  font-size: 14px;
  margin: 0px;
}

#content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#content > div {
  height: 300px;
  flex-basis: 45%;
  padding: 15px;
  margin: 15px 0px;
}

textarea {
  resize: none;
  background-color: #222;
  color: #eee;
  font-family: 'Courier New';
  padding: 15px;
  font-size: 14px;
  width: 100%;
  height: 250px;
  box-sizing: border-box;
}

textarea:focus {
  outline: 0;
}

#html-preview {
    border: 1px solid #aaa;
    background-color: #eee;
    height: 250px;
    padding: 15px;
    box-sizing: border-box;
}

#add-markdown {
  width: 50%;
  margin: 0 auto;
}

input[name="title"] {
  padding: 5px 10px;
  font-size: 14px;
  color: #666;
  display: inline-block;
  height: 23px;
  margin-left: 5px;
}

#submit-markdown {
  background-color: #74c7fd;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  margin: 0 5px;
  float: right;
}

#submit-markdown:hover {
  cursor: pointer;
  background-color: #6e51fb;
}